<app-header [nombre] ="'Productos'"  [ruta]="rutaBtn"></app-header>

<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full" *ngIf="ocultarTabla">
          <thead class="bg-white border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                #
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                nombre
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                precio
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                cantidad
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                acciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-gray-100 border-b" *ngFor="let producto of productos;let index = index">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{index + 1}}</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{producto.nombre}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{producto.precio}}
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                {{producto.cantidad}}
              </td>
              <td class="flex justify-evenly  whitespace-nowrap">
                  <a  [routerLink]="['/dashboard/productos/ver',producto.id]"><i class="fa-solid fa-eye"></i></a>
                  <a [routerLink]="['/dashboard/productos/editar/',producto.id]"><i class="fa-solid fa-pen"></i></a>
                  <a><i class="fa-solid fa-trash text-red-500" (click)="eliminarProducto(producto.id)"></i></a>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
