<header class="bg-white">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex">
      <h1 class="text-3xl font-bold text-gray-900 mr-2">{{nombre}}</h1>
      <button 
      type="button" 
     
      [routerLink]="ruta"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}"
      class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Crear
      </button>
    </div>
</header>
