<h1>{{formType}} Productos</h1>

<hr>
<div>
    <form action="#" (ngSubmit)="guardarEditar()" [formGroup]="productosForm">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <div class="grid grid-cols-3 gap-6">
                <div class="col-span-6 sm:col-span-3">
                    <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre producto</label>
                    <input 
                    type="text" 
                    formControlName="nombre" 
                    name="nombre" 
                    id="nombre" 
                    
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="precio" class="block text-sm font-medium text-gray-700">Precio</label>
                    <input 
                    type="number" 
                    name="precio" 
                    formControlName="precio"
                    id="precio"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="cantidad" class="block text-sm font-medium text-gray-700">Cantidad</label>
                    <input 
                    type="number" 
                    name="cantidad" 
                    id="cantidad"
                    formControlName="cantidad"
                    class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                </div>
                <div class="col-span-6 sm:col-span-3">
                    <label for="observaciones" class="block text-sm font-medium text-gray-700"> Descripcion </label>
                    <div class="mt-1">
                      <textarea 
                      id="observaciones" 
                      name="observaciones" 
                      rows="3"
                      formControlName="observaciones"
                      class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md" placeholder="you@example.com"></textarea>
                    </div>
                    <p class="mt-2 text-sm text-gray-500">Brief description for your profile. URLs are hyperlinked.</p>
                </div>
            </div>


            <div>
                <input type="file" 
                name="imagen" 
                id="imagen"
                (change)="obtenerImagen($event)"
                accept="image/png, image/gif, image/jpeg"
                >
            </div>
          </div>
          <div class="px-4 py-5">
              <fieldset>
                <legend class="text-base font-medium text-gray-900">Ciudades</legend>
                <div class="mt-4 space-y-4" *ngFor="let ciudad of getCiudades">
                  <div class="flex items-start">
                    <div class="flex items-center h-5" *ngIf="actualiza">
                      <input 
                      id="comments" 
                      name="comments" 
                      [value]="ciudad.id" 
                      type="checkbox" 
                      (click)= "ciudadesId($event)"
                      [checked]="checkedCiudades(ciudad)"
                      class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                    </div>
                    <div class="flex items-center h-5" *ngIf="!actualiza">
                      <input 
                      id="comments" 
                      name="comments" 
                      [value]="ciudad.id" 
                      type="checkbox" 
                      (click)= "ciudadesId($event)"
                      class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded">
                    </div>
                    <div class="ml-3 text-sm">
                      <label for="comments" class="font-medium text-gray-700">{{ciudad.nombre}}</label>
                    </div>
                  </div>
                
                </div>
              </fieldset>

          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
          </div>
        </div>
    </form>
</div>


