
<div>

    <div class="flex w-100  justify-center p-2.5">
        <div class="w-50 bg-gray-50 w-96 h-48 p-2.5 rounded-lg flex justify-center flex-col shadow-md">
            <p>Ciudad : {{ciudadNombre}}</p>
            <p>latitud : {{latitud}}</p>
            <p>Longitud : {{longitud}}</p>
        </div>
    </div>

    <div class="flex w-100  justify-center">
        <div id="map" #map></div>
    </div>
    <div class="mt-10">
        <button 
        (click)="guardarCiudad()"
        type="button" class="mr-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Save</button>
        <button 
        (click)="reiniciarSeleccion()"
        type="button" 
        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">cancelar</button>
    </div>
</div>