<div class="login-page">
  <div class="form">
    <form class="login-form" [formGroup]="registroForm" (ngSubmit)="registrar()">
      <input type="text" placeholder="name" formControlName="name" />
      <input
        type="password"
        placeholder="password"
        formControlName="password"
      />
      <input type="email" placeholder="email address" formControlName="email" />
      <button type="submit">Registrarme</button>
      <p class="message"><a 
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        >Iniciar session</a></p>
    </form>
  </div>
</div>
