<div class="login-page">
    <div class="form">
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="iniciarSession()">
        <input 
          type="email" 
          placeholder="email"
          formControlName="email"
        />
        <input 
          type="password" 
          placeholder="password"
          formControlName="password"
        />
        <button type="submit">login</button>
        <a 
        routerLink="registro"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        >Registrarme</a>
      </form>
    </div>
  </div>
  