/* You can add global styles to this file, and also import other style files */
#sidebar {
  height: 100%;
  min-height: 100vh;
  min-width: 180px;
}

#map {
  height: 400px;
  width: 100%;
  max-width: 600px;
}
.fa-solid {
  cursor: pointer;
}
